<div class="container-fluid px-0">
  <div class="row mt-4 font-oxygen">
    <div class="col-md-6">
      <p class="h3">Calendar</p>
    </div>
    <div class="col-md-6">
      <a
        role="button"
        class="btn btn-outline-primary float-md-right"
        routerLink="add_event"
      >
        Add New Event
      </a>
    </div>
  </div>
  <br />
  <div class="bg-white pb-5 px-3 pt-5">
    <div class="d-flex mb-5 justify-content-center align-items-center">
      <div
        class="btn"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        <svg
          width="16"
          height="25"
          viewBox="0 0 16 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.0118 24.0235L15.126 20.9094L6.22837 12.0118L15.126 3.11416L12.0118 0L5.05447e-05 12.0118L12.0118 24.0235Z"
            fill="#6B6B6B"
          />
        </svg>
      </div>
      <h1 id="month-text" class="text-center mb-0">
        {{ viewDate | calendarDate: view + "ViewTitle":"en" }}
      </h1>

      <div
        class="btn"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        <svg
          width="16"
          height="25"
          viewBox="0 0 16 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.11416 24.0235L0 20.9094L8.8976 12.0118L0 3.11416L3.11416 0L15.1259 12.0118L3.11416 24.0235Z"
            fill="#6B6B6B"
          />
        </svg>
      </div>
    </div>
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [(events)]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="false"
      (eventTimesChanged)="eventTimesChanged($event)"
      [cellTemplate]="customCellTemplate"
    >
    </mwl-calendar-month-view>

    <br /><br /><br />
  </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span
      class="cal-day-badge rounded-circle"
      style="background: #8ca0b3;"
      *ngIf="day.badgeTotal > 0"
      >{{ day.badgeTotal }}</span
    >
    <span class="cal-day-number">{{
      day.date | calendarDate: "monthViewDayNumber":locale
    }}</span>
  </div>
  <div
    class="p-1 m-2 ml-md-2 ml-lg-5 rounded bg-primary event-details"
    *ngIf="day.badgeTotal > 0"
  >
    <small class="text-white" style="margin: 5px;">
      {{ day.events[0].title }}
    </small>
  </div>
</ng-template>
