<div class="container-fluid px-0">
  <div class="row mt-4 font-oxygen">
    <div class="col-md-6">
      <p class="h3">Calendar</p>
    </div>
    <div class="col-md-6">
      <a
        role="button"
        class="btn btn-outline-primary float-md-right"
        routerLink="add_event"
      >
        Add New Event
      </a>
    </div>
  </div>
  <br />
  <div class="bg-white pb-5 px-3 pt-5">
    <div class="d-flex mb-5 justify-content-center align-items-center">
      <div
        class="btn"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        <svg
          width="16"
          height="25"
          viewBox="0 0 16 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.0118 24.0235L15.126 20.9094L6.22837 12.0118L15.126 3.11416L12.0118 0L5.05447e-05 12.0118L12.0118 24.0235Z"
            fill="#6B6B6B"
          />
        </svg>
      </div>
      <h1 id="month-text" class="text-center mb-0">
        {{ viewDate | calendarDate: view + "ViewTitle":"en" }}
      </h1>

      <div
        class="btn"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        <svg
          width="16"
          height="25"
          viewBox="0 0 16 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.11416 24.0235L0 20.9094L8.8976 12.0118L0 3.11416L3.11416 0L15.1259 12.0118L3.11416 24.0235Z"
            fill="#6B6B6B"
          />
        </svg>
      </div>
    </div>
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>

    <br /><br /><br />
  </div>
</div>
<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

