<div class="container-fluid px-0">
  <div class="row mt-4 font-oxygen">
    <div class="col-md-6">
      <p class="h3 mb-0 mx-2">Leads</p>
    </div>
    <div class="col-md-6">
      <!-- <a
        role="button"
        class="btn btn-outline-primary float-md-right"
        routerLink="/app/calendar/add_event"
      >
        Add New Event
      </a> -->
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Overview">
      <ng-template matTabContent>
        <app-lead-overview></app-lead-overview>
      </ng-template>
    </mat-tab>
    <mat-tab label="Schedule">
      <ng-template matTabContent>
        <app-lead-schedule></app-lead-schedule>
      </ng-template>
    </mat-tab>
    <mat-tab label="Quotes and Orders">
      <ng-template matTabContent>
        <app-lead-quotes-and-orders></app-lead-quotes-and-orders>
      </ng-template>
    </mat-tab>

    <mat-tab label="Quotes and Orders">
      <ng-template matTabContent>
        <app-lead-quotes-and-orders></app-lead-quotes-and-orders>
      </ng-template>
    </mat-tab>
    <mat-tab label="Quotes and Orders">
      <ng-template matTabContent>
        <app-lead-quotes-and-orders></app-lead-quotes-and-orders>
      </ng-template>
    </mat-tab>
    <mat-tab label="Quotes and Orders">
      <ng-template matTabContent>
        <app-lead-quotes-and-orders></app-lead-quotes-and-orders>
      </ng-template>
    </mat-tab>
    <mat-tab label="Quotes and Orders">
      <ng-template matTabContent>
        <app-lead-quotes-and-orders></app-lead-quotes-and-orders>
      </ng-template>
    </mat-tab>
    <mat-tab label="Quotes and Orders">
      <ng-template matTabContent>
        <app-lead-quotes-and-orders></app-lead-quotes-and-orders>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
