<p class="h1 text-primary">Create an account</p>
<hr style="height: 0.12rem; width: 5rem;" class="bg-secondary m-0 mb-2" />
<form class="mt-4" [formGroup]="createAccountForm">
  <div class="form-group">
    <label for="name">Name</label>
    <div class="input-group input-group-lg mb-3 py-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="name">
          <i class="fa fa-email"></i>
        </span>
      </div>
      <input
        type="text"
        class="form-control"
        id="name"
        aria-describedby="name"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <div class="input-group input-group-lg mb-3 py-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="name">
          <i class="fa fa-email"></i>
        </span>
      </div>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="email"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>

    <div class="input-group input-group-lg mb-3 py-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="name">
			<i class="fa  fa-email"></i>
        </span>
      </div>
      <input
        type="password"
        class="form-control"
        id="password"
        aria-describedby="password"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="cpassword">Confirm Password</label>
    <div class="input-group input-group-lg mb-3 py-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="name">
			<i class="fa  fa-user"></i>
        </span>
      </div>
      <input
        type="password"
        class="form-control"
        id="cpassword"
        aria-describedby="cpassword"
      />
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary btn-block rounded-pill py-3 mt-4"
  >
    <p class="h5 mb-0 font-weight-bold text-uppercase">Sign Up</p>
  </button>
</form>

