<div class="container-fluid px-0">
  <div class="row mt-4 font-oxygen">
    <div class="col-md-6">
      <p class="h3">Event Overview</p>
    </div>
    <div class="col-md-6">
      <a
        role="button"
        class="btn btn-outline-primary float-md-right"
        routerLink="/app/calendar/add_event"
      >
        Add New Event
      </a>
    </div>
  </div>
  <div class="card mt-4 rounded-5">
    <div class="card-body">
      <h5 class="card-title font-oxygen">Upcoming Event</h5>
      <hr />

      <div class="card border-0">
        <div class="table-responsive">
          <table class="table">
            <thead class="bg-primary text-white">
              <tr
                id="head-row"
                class="font-weight-bold text-uppercase font-oxygen"
              >
                <th>Title</th>
                <th>Starts at</th>
                <th>Type</th>
                <th>Location</th>
              </tr>
            </thead>

            <tbody id="event-body">
              <tr *ngFor="let event of events">
                <td>
                  <p class="mb-0">{{ event.title }}</p>
                </td>
                <td>
                  <p class="mb-0">{{ event.start_date }}</p>
                </td>
                <td>
                  <p class="mb-0">{{ event.client_name }}</p>
                </td>
                <td>
                  <p class="mb-0">{{ event.location }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
