<div id="auth-container" class="container-fluid m-0">
  <div class="row flex-fill">
    <div class="col-md-6 p-0">
      <div
        id="logo-container"
        class="bg-primary align-items-center justify-content-center"
      >
        <img
          src=""
          alt="LOGO HERE"
          class="font-oxygen display-1 font-weight-bold text-white text-center"
        />
      </div>
    </div>
    <div class="col-md-6 p-4" [ngSwitch]="pageName">
      <div class="d-flex flex-column h-100">
        <div class="container mb-3">
          <div class="row">
            <div class="col-0 col-md-1"></div>
            <div class="col-12 col-md-10 mt-1 mt-md-5">
              <router-outlet></router-outlet>
            </div>
            <div class="col-0 col-md-1"></div>
          </div>
        </div>
        <footer class="mt-auto" [ngSwitch]="pageName">
          <p class="text-center mb-0" *ngSwitchCase="CREATE_ACCOUNT">
            Already have an account?<a
              (click)="setPageName()"
              routerLink="/login"
              >&nbsp;Login&nbsp;</a
            >
          </p>

          <p class="text-center mb-0 mt-auto" *ngSwitchCase="FORGOT_PASSWORD">
            Don't have an accout?<a
              (click)="setPageName(CREATE_ACCOUNT)"
              routerLink="createAccount"
              >&nbsp;Register&nbsp;</a
            >
          </p>

          <p class="text-center mb-0 mt-auto" *ngSwitchCase="SET_PASSWORD"></p>

          <p class="text-center mb-0 mt-auto" *ngSwitchDefault>
            Don't have an accout?<a
              (click)="setPageName(CREATE_ACCOUNT)"
              routerLink="createAccount"
              >&nbsp;Register&nbsp;</a
            >
          </p>
        </footer>
      </div>
    </div>
  </div>
</div>
