<div id="auth-container" class="container-fluid m-0">
  <div class="row flex-fill">
    <div class="col-md-6 p-0">
      <div
        id="logo-container"
        class="bg-secondary align-items-center justify-content-center"
      >
        <img src="" alt="LOGO HERE" />
      </div>
    </div>
    <div class="col-md-6 p-0" [ngSwitch]="pageName">
      <app-create-account *ngSwitchCase="CREATE_ACCOUNT"></app-create-account>
      <app-forgot-password *ngSwitchCase="FORGOT_PASSWORD">
      </app-forgot-password>
	  <app-set-password *ngSwitchCase="SET_PASSWORD"></app-set-password>
      <app-login-component *ngSwitchDefault></app-login-component>
    </div>
  </div>
</div>
