<p class="h1 text-primary">Login to your account</p>
<hr style="height: 0.12rem; width: 5rem;" class="bg-secondary m-0 mb-2" />
<form class="mt-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <div class="input-group input-group-lg mb-3 py-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="email">
          <i class="fa fa-user"></i>
        </span>
      </div>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        aria-describedby="email"
      />
    </div>
    <app-field-error-display
      [displayError]="isFieldValid('email')"
      errorMsg="Please provide a valid email address"
    >
    </app-field-error-display>
  </div>

  <div class="form-group">
    <label for="password">Password</label>

    <div class="input-group input-group-lg mb-3 py-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="name">
          <i class="fa fa-lock"></i>
        </span>
      </div>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        id="password"
        aria-describedby="password"
      />
    </div>
    <app-field-error-display
      [displayError]="isFieldValid('password')"
      errorMsg="Password is required"
    >
    </app-field-error-display>
  </div>

  <p style="font-weight: 200;" class="text-right">
    <a routerLink="forgotPassword">Forgot Password?</a>
  </p>

  <button
    type="submit"
    class="btn btn-primary btn-block rounded-pill py-3 mt-4"
  >
    <p class="h5 mb-0 font-weight-bold text-uppercase">Login</p>
  </button>
</form>
