<div class="container-fluid">
  <div id="card-container" class="row justify-content-between">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <p class="title">Credit</p>
          <p class="content">${{ leadServices.currentLead.credit_total }}</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <p class="title">Cost</p>
          <p class="content">${{ leadServices.currentLead.cost_total }}</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <p class="title">Invoiced</p>
          <p class="content">${{ leadServices.currentLead.invoiced_total }}</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <p class="title">Profit</p>
          <p class="content">${{ leadServices.currentLead.profit_total }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-table">
    <div class="card mt-5">
      <div class="card-header">
        Ledger
        <div class="card-button-container float-right">
          <button
            class="btn btn-outline-primary mx-1"
            (click)="open(addLedger)"
          >
            New Credit
          </button>
          <button
            [ngClass]="{
              'btn mx-1 d-none': true,
              'btn-outline-primary': !this.showExpanse,
              'btn-primary': this.showExpanse
            }"
          >
            Record Expense
          </button>
          <button
            [ngClass]="{
              'btn ml-1 d-none': true,
              'btn-outline-primary': this.showExpanse,
              'btn-primary': !this.showExpanse
            }"
          >
            Record Payment
          </button>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class="text-white">
            <tr
              id="head-row"
              class="font-weight-bold text-uppercase font-oxygen"
            >
              <th>Date</th>
              <th>Kind</th>
              <th>Status</th>
              <th>Who/Meme</th>
              <th>Applies to</th>
              <th>Credit</th>
              <th>Cost</th>
              <th>Revenue</th>
            </tr>
          </thead>
          <tbody id="event-body">
            <tr *ngFor="let quote of leadServices?.currentLead?.ledger">
              <td>
                <p class="mb-0">{{ quote.date }}</p>
              </td>
              <td>
                <p class="mb-0">{{ quote.kind }}</p>
              </td>
              <td>
                <p class="mb-0">{{ quote.status }}</p>
              </td>
              <td>
                <p class="mb-0">{{ quote.who_meme }}</p>
              </td>
              <td class="w-10">
                <p class="mb-0">{{ quote.applies_to }}</p>
              </td>
              <td class="w-10">
                <p class="mb-0">${{ quote.credit }}</p>
              </td>
              <td class="w-10">
                <p class="mb-0">${{ quote.cost }}</p>
              </td>
              <td class="w-10">
                <p class="mb-0">${{ quote.revenue }}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="px-5">
      <table class="table">
        <tbody>
          <tr class="font-oxygen">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="w-10 font-weight-bold">Total</td>
            <td class="w-10">$500</td>
            <td class="w-10">$1270</td>
            <td class="w-10">$2800</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
  <div class="card-table">
    <div class="card mt-5">
      <div class="card-header">
        Account Payable
        <div class="card-button-container float-right">
          <button
            class="btn btn-outline-primary mx-1"
            (click)="open(addAccountPayable)"
          >
            New Credit
          </button>
          <button class="btn btn-outline-primary mx-1 d-none">
            Record Expense
          </button>
          <button class="btn btn-primary ml-1 d-none">Record Payment</button>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class="text-white">
            <tr
              id="head-row"
              class="font-weight-bold text-uppercase font-oxygen"
            >
              <th>Date</th>
              <th>Category</th>
              <th>Status</th>
              <th>Payee/Meme</th>
              <th>Applies to</th>
              <th>Credit</th>
              <!-- <th></th> -->
            </tr>
          </thead>
          <tbody id="event-body">
            <tr *ngFor="let payable of leadServices?.currentLead?.acc_payable">
              <td>
                <p class="mb-0">{{ payable.date }}</p>
              </td>
              <td>
                <p class="mb-0">{{ payable.category }}</p>
              </td>
              <td>
                <p class="mb-0">{{ payable.status }}</p>
              </td>
              <td>
                <p class="mb-0">{{ payable.payee_name }}</p>
              </td>
              <td class="w-20 pb-0">
                <p class="mb-0 line-accurate">Order Booked On</p>
                <small class="mb-0">{{ payable.applies_to }}</small>
              </td>
              <td class="w-10">
                <p class="mb-0">${{ payable.credit }}</p>
              </td>
              <!-- <td class="w-10">
                <div ngbDropdown class="d-inline-block">
                  <button
                    class="btn btn-outline-primary"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                  >
                    Action
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Post</button>
                    <button ngbDropdownItem>Remind</button>
                  </div>
                </div>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="px-5">
      <table class="table">
        <tbody>
          <tr class="font-oxygen">
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold">Total</td>
            <td class="w-10">$500</td>
            <td class="w-10"></td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>

  <ng-template #addLedger let-modal>
    <form [formGroup]="ledgerForm" (ngSubmit)="onLedgerSubmit()">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Ledger</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="Note type">Date</label>
          <div class="form-group">
            <input type="date" formControlName="date" />
          </div>
        </div>

        <div class="form-group">
          <label for="Note type">Kind</label>
          <div class="form-group">
            <input type="text" formControlName="kind" />
          </div>
        </div>

        <div class="form-group">
          <label for="Note type">Status</label>
          <div class="form-group">
            <select class="custom-select" formControlName="status">
              <option value="Credited">Credited</option>
              <option value="Debited">Debited</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="Note type">Who/Meme</label>
          <div class="form-group">
            <input type="text" formControlName="who_meme" />
          </div>
        </div>

        <div class="form-group">
          <label for="Enter Note">Applies to</label>
          <div class="form-group">
            <input type="text" formControlName="applies_to" />
          </div>
        </div>

        <div class="form-group">
          <label for="Enter Note">Credit</label>
          <div class="form-group">
            <input type="text" formControlName="credit" />
          </div>
        </div>

        <div class="form-group">
          <label for="Enter Note">Cost</label>
          <div class="form-group">
            <input type="text" formControlName="cost" />
          </div>
        </div>

        <div class="form-group">
          <label for="Enter Note">Revenue</label>
          <div class="form-group">
            <input type="text" formControlName="revenue" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </ng-template>

  <ng-template #addAccountPayable let-modal>
    <form
      [formGroup]="accountPayableForm"
      (ngSubmit)="onAccountPayableSubmit()"
    >
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Ledger</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="Note type">Date</label>
          <div class="form-group">
            <input type="date" formControlName="date" />
          </div>
        </div>

        <div class="form-group">
          <label for="Note type">Category</label>
          <div class="form-group">
            <input type="text" formControlName="category" />
          </div>
        </div>

        <div class="form-group">
          <label for="Note type">Status</label>
          <div class="form-group">
            <select class="custom-select" formControlName="status">
              <option value="Credited">Credited</option>
              <option value="Debited">Debited</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="Note type">Payee Name</label>
          <div class="form-group">
            <input type="text" formControlName="payee_name" />
          </div>
        </div>

        <div class="form-group">
          <label for="Enter Note">Applies to</label>
          <div class="form-group">
            <input type="text" formControlName="applies_to" />
          </div>
        </div>

        <div class="form-group">
          <label for="Enter Note">Credit</label>
          <div class="form-group">
            <input type="text" formControlName="credit" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </ng-template>
</div>
