<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      Notes
      <button
        class="btn btn-outline-primary float-right"
        (click)="open(addNote)"
      >
        Add Notes
      </button>
    </div>
    <div class="card-body container-fluid">
      <div class="row">
        <div class="col-12 p-3">
          <div class="row font-weight-bold h5 text-uppercase">
            <div class="col-3">Created</div>
            <div class="col-6">Note</div>
            <div class="col-2">type</div>
            <div class="col-1"></div>
          </div>
          <div
            class="col-12 p-3 my-3 bg-light rounded"
            *ngFor="let note of this.leadServices?.currentLead?.notes"
          >
            <div class="row">
              <div class="col-3">{{ note.date }}</div>
              <div class="col-6">{{ note.notes }}</div>
              <div class="col-2">{{ note.note_type }}</div>
              <div class="col-1">
                <span
                  class="fa fa-pencil"
                  (click)="handleNoteEditClick(note, addNote)"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #addNote let-modal>
    <form [formGroup]="notesForm" (ngSubmit)="onNoteSubmit()">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New Note</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="Note type">Note Type</label>
          <select class="form-control" formControlName="type">
            <option value="Primary">Primary</option>
          </select>
        </div>
        <div class="form-group">
          <label for="Enter Note">Enter Note</label>
          <div class="input-group">
            <textarea
              class="form-control"
              rows="5"
              id="comment"
              formControlName="note"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </ng-template>
</div>
