<div class="container-fluid">
  <div id="contact-and-schedule-row" class="row">
    <div class="col pl-0 pr-2">
      <div class="card">
        <div class="card-header px-0">Contact Overview</div>
        <div class="card-body px-0">
          <ul id="contact-body">
            <li>
              <p>
                <span class="property">name :</span>
                <span class="value">
                  Akhil Kumar Wedding Photography
                </span>
                <span class="property"></span>
              </p>
            </li>
            <li>
              <p>
                <span class="property">Company Name :</span>
                <span class="value">Tave</span>
                <span class="property"></span>
              </p>
            </li>
            <li>
              <p>
                <span class="property">phone :</span>
                <span class="value">+919607155846</span>
                <span class="property"></span>
              </p>
            </li>
            <li>
              <p>
                <span class="property">Lead Source :</span>
                <span class="value">lorem ipsum</span>
                <span class="property"></span>
              </p>
            </li>
            <li>
              <p>
                <span class="property">Job Date :</span>
                <span class="value">23/08/20</span>
                <span class="property"></span>
              </p>
            </li>
            <li>
              <p>
                <span class="property">Job Type :</span>
                <span class="value">Photographer</span>
                <span class="property"></span>
              </p>
            </li>
            <li>
              <p>
                <span class="property">Lead Status :</span>
                <span class="value">Status</span>
                <span class="property"></span>
              </p>
            </li>
            <li>
              <p>
                <span class="property">Notes :</span>
                <span class="value"
                  >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Veniam ex voluptates tempora.</span
                >
                <span class="property"></span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col pr-0 pl-2">
      <div class="card">
        <div class="card-header px-0">Schedule</div>
        <div class="card-body font-oxygen">
          <h5 class="card-title">Today</h5>
          <ul id="schedule-body">
            <li>
              <p>
                <span class="event-timing">all day</span
                ><span class="event-title">Wedding Ceremony</span>
              </p>
            </li>
            <li>
              <p>
                <span class="event-timing">all day</span
                ><span class="event-title">Mehendi</span>
              </p>
            </li>
          </ul>
        </div>
        <div class="card-footer px-0 text-right">View All Schedule</div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-6 pl-0 pr-2">
      <div class="card my-2">
        <div class="card-header">
          Notes
          <button class="btn btn-primary tave-rounded-button float-right">
            Add Notes
          </button>
        </div>
        <div class="card-body font-oxygen">
          <ul>
            <li class="list-items">
              <span class="badge badge-primary px-2 font-weight-normal py-1"
                >Primary Notes</span
              ><span class="ml-4 yellow-color">Mehendi, Sangeet and Pro</span>
              <span class="fa fa-pencil float-right"></span>
            </li>
          </ul>
        </div>
        <div class="card-footer px-0 text-right">View All</div>
      </div>
    </div>
    <div class="col-12 col-md-6 pr-0 pl-2">
      <div class="card my-2">
        <div class="card-header">
          Contracts
          <button class="btn btn-primary tave-rounded-button float-right">
            Add New
          </button>
        </div>
        <div class="card-body">
          
        </div>
        <div class="card-footer px-0 text-right">View All</div>
      </div>
    </div>
    <div class="col-12 col-md-6 pl-0 pr-2">
      <div class="card my-2">
        <div class="card-header">
          Notes
          <button class="btn btn-primary tave-rounded-button float-right">
            Add Notes
          </button>
        </div>
        <div class="card-body">
          <div class="card-title"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 pr-0 pl-2">
      <div class="card my-2">
        <div class="card-header">Notes</div>
        <div class="card-body">
          <div class="card-title"></div>
        </div>
      </div>
    </div>
  </div>
</div>
