<p class="h1 text-primary">Forgot Password</p>
<hr style="height: 0.12rem; width: 5rem;" class="bg-secondary m-0 mb-2" />
<form class="mt-5" [formGroup]="forgotPasswordForm">
  <div class="form-group">
    <label for="email">Email</label>
    <div class="input-group input-group-lg mb-3 py-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="email">
          <svg
            width="27"
            height="17"
            viewBox="0 0 27 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.5215 8.62683L26.4326 13.8968V3.13428L17.5215 8.62683Z"
            />
            <path d="M0 3.13428V13.8968L8.9111 8.62683L0 3.13428Z" />
            <path
              d="M24.7806 0H1.65204C0.827671 0 0.173464 0.57491 0.0495605 1.31518L13.2163 9.43038L26.3831 1.31518C26.2592 0.57491 25.605 0 24.7806 0Z"
            />
            <path
              d="M16.0084 9.56014L13.6707 11.0005C13.532 11.0855 13.375 11.1272 13.2164 11.1272C13.0578 11.1272 12.9009 11.0855 12.7621 11.0005L10.4245 9.55859L0.0529785 15.6956C0.180186 16.4297 0.831089 17 1.65215 17H24.7807C25.6018 17 26.2527 16.4297 26.3799 15.6956L16.0084 9.56014Z"
            />
          </svg>
        </span>
      </div>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="email"
      />
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary btn-block rounded-pill py-3 mt-4"
  >
    <p class="h5 mb-0 font-weight-bold text-uppercase">Send Verification</p>
  </button>
</form>
