<p class="h1 text-primary">Forgot Password</p>
<hr style="height: 0.12rem; width: 5rem;" class="bg-secondary m-0 mb-2" />
<form class="mt-5" [formGroup]="forgotPasswordForm">
  <div class="form-group">
    <label for="email">Email</label>
    <div class="input-group input-group-lg mb-3 py-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="email">
          <fa-icon [icon]="filmIcon"></fa-icon>
        </span>
      </div>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="email"
      />
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary btn-block rounded-pill py-3 mt-4"
  >
    <p class="h5 mb-0 font-weight-bold text-uppercase">Send Verification</p>
  </button>
</form>
