/* You can add global styles to this file, and also import other style files */
@import "scss/_variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "./bootstrap-custom-overides";
@import "~ngx-toastr/toastr";
@import "../node_modules/angular-calendar/css/angular-calendar";

.cal-month-view .cal-header {
  font-weight: normal;
  font-family: "Oxygen", sans-serif;
}
.cal-month-view .cal-day-number {
  color: #000000;
  font-family: "Oxygen", sans-serif;
}
.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: #000000;
}

.font-oxygen {
  font-family: "Oxygen", sans-serif;
}
