// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tave-frontend-primary: mat-palette($mat-indigo);
$tave-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tave-frontend-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tave-frontend-theme: mat-light-theme(
  (
    color: (
      primary: $tave-frontend-primary,
      accent: $tave-frontend-accent,
      warn: $tave-frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tave-frontend-theme);

/* You can add global styles to this file, and also import other style files */
@import "scss/_variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "./bootstrap-custom-overides";
@import "~ngx-toastr/toastr";
@import "../node_modules/angular-calendar/css/angular-calendar";
@import "~ng-pick-datetime/assets/style/picker.min.css";

.cal-month-view .cal-header {
  font-weight: normal;
  font-family: "Oxygen", sans-serif;
}
.cal-month-view .cal-day-number {
  color: #000000;
  font-family: "Oxygen", sans-serif;
}
.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: #000000;
}

.cal-month-view .cal-cell-top {
  min-height: unset;
}
.cal-month-view .cal-day-cell.cal-today {
  background-color: white;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  background-color: #feb950;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.font-oxygen {
  font-family: "Oxygen", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.required:after {
  content: " *";
  color: red;
}

//material classes overrides
.mat-tab-header-pagination-disabled {
  display: none !important;
}

.mat-tab-header {
  background-color: #e4e5e6;
  border-radius: 2rem;
  margin: 3rem 0rem;
}

.mat-tab-label.mat-tab-label-active {
  background-color: #335276;
  border-radius: 2rem;
  color: white;
}

.mat-ink-bar {
  display: none !important;
}

.tave-rounded-button {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background-color: #466991;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
