<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">CRM</div>
    <div class="list-group list-group-flush sidebar-content">
      <a
        [ngClass]="{
          'list-group-item list-group-item-action bg-light': true,
          active: pageName === 'dashboard'
        }"
        routerLink=""
        (click)="setPageName('dashboard')"
        >Dashboard</a
      >
      <div [ngClass]="{ collapse: pageName !== 'dashboard' }">
        <ul class="list-group list-group-flush">
          <li
            [ngClass]="{
              'list-group-item list-group-item-action border-0 bg-white': true,
              'text-warning active': subPageName === ''
            }"
          >
            <a>Overview</a>
          </li>
          <li
            [ngClass]="{
              'list-group-item list-group-item-action border-0': true,
              'text-warning active': subPageName === 'agenda'
            }"
          >
            <a>Agenda</a>
          </li>
          <li
            [ngClass]="{
              'list-group-item list-group-item-action border-0': true,
              'text-warning active': subPageName === 'upcoming_task'
            }"
          >
            <a>Upcoming Tasks</a>
          </li>
        </ul>
      </div>
      <a
        [ngClass]="{
          'list-group-item list-group-item-action bg-light': true,
          active: pageName === 'calendar'
        }"
        routerLink="calendar"
        (click)="setPageName('calendar')"
        >Calender</a
      >
      <div [ngClass]="{ collapse: pageName !== 'calendar' }">
        <ul class="list-group list-group-flush">
          <li
            [ngClass]="{
              'list-group-item list-group-item-action border-0 bg-white': true,
              'text-warning active': subPageName === ''
            }"
          >
            <a routerLink="calendar" (click)="setSubPageName()"
              >Event Overview</a
            >
          </li>
          <li
            [ngClass]="{
              'list-group-item list-group-item-action border-0': true,
              'text-warning': subPageName === 'add_event'
            }"
          >
            <a
              routerLink="calendar/add_event"
              (click)="setSubPageName('add_event')"
              >Edit Event</a
            >
          </li>
          <li
            [ngClass]="{
              'list-group-item list-group-item-action border-0': true,
              'text-warning active': subPageName === 'upcoming_event'
            }"
          >
            <a>Upcoming Agenda</a>
          </li>
        </ul>
      </div>
      <a
        [ngClass]="{
          'list-group-item list-group-item-action bg-light': true,
          active: pageName === 'mail'
        }"
        routerLink="mail"
        (click)="setPageName('mail')"
        >Mails</a
      >
      <div [ngClass]="{ collapse: pageName !== 'mail' }">
        <ul class="list-group list-group-flush">
          <li
            [ngClass]="{
              'list-group-item list-group-item-action border-0 bg-white': true,
              'text-warning active': subPageName === ''
            }"
          >
            <a routerLink="mail" (click)="setSubPageName()">Mail Box</a>
          </li>
          <li
            [ngClass]="{
              'list-group-item list-group-item-action border-0': true,
              'text-warning': subPageName === 'compose'
            }"
          >
            <a routerLink="mail/compose" (click)="setSubPageName('compose')"
              >Compose</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
