<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-primary border-right" id="sidebar-wrapper">
    <div class="sidebar-heading font-oxygen">CRM</div>
    <div class="list-group list-group-flush sidebar-content">
      <div
        [ngClass]="{
          'list-group-item': true,
          active: pageName === page.identifier
        }"
        *ngFor="let page of pages"
      >
        <a
          routerLink="{{ page.route }}"
          (click)="setPageName(page.identifier)"
          >{{ page.name }}</a
        >
        <div
          [ngClass]="{
            'list-group list-group-flush submenu': true,
            collapse: pageName !== page.identifier
          }"
        >
          <a
            *ngFor="let s of page.submenu"
            routerLink="{{ s.route }}"
            (click)="setSubPageName(s.identifier)"
            [ngClass]="{
              'list-group-item border-0': true,
              'text-warning': subPageName === s.identifier
            }"
          >
            {{ s.name }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          class="nav navbar-nav mt-2 mt-lg-0 flex-fill text-muted align-items-center"
        >
          <li class="nav-item h5">
            <i class="btn btn-default btn-lg btn-link">
              <span class="fa fa-bell"></span>
            </i>
            <span class="badge badge-notify text-white">3</span>
            <i class="fa fa-envelope mb-0 mx-3"></i>
          </li>
          <li class="nav-item ml-auto h4">
            <i class="fa fa-search mb-0 mx-3"></i>
            <i class="fa fa-cog mb-0 mx-3"></i>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
