<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">CRM</div>
    <div class="list-group list-group-flush sidebar-content">
      <a
        data-toggle="collapse"
        data-target="#submenu"
        aria-expanded="false"
        class="list-group-item list-group-item-action bg-dark active"
        type="button"
        >Dashboard</a
      >
      <div id="submenu" class="collapse">
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item list-group-item-action border-0 bg-light text-warning active"
          >
            <a>List 1</a>
          </li>
          <li class="list-group-item list-group-item-action bg-light border-0">
            <a>List 2</a>
          </li>
          <li class="list-group-item list-group-item-action bg-light border-0">
            <a>List 3</a>
          </li>
          <li class="list-group-item list-group-item-action bg-light border-0">
            <a>List 4</a>
          </li>
          <li class="list-group-item list-group-item-action bg-light border-0">
            <a>List 5</a>
          </li>
        </ul>
      </div>
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Shortcuts</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Overview</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Events</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Profile</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Status</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <h1 class="mt-4">Simple Sidebar</h1>
      <p>
        The starting state of the menu will appear collapsed on smaller screens,
        and will appear non-collapsed on larger screens. When toggled using the
        button below, the menu will change.
      </p>
      <p>
        Make sure to keep all page content within the
        <code>#page-content-wrapper</code>. The top navbar is optional, and just
        for demonstration. Just create an element with the
        <code>#menu-toggle</code> ID which will toggle the menu when clicked.
      </p>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
