$border-gray: #cdcdcd;

#card-container {
  .col-3 {
    padding: 0rem 1.5rem;
  }

  .card {
    text-align: center;
    border-radius: 1rem;
    color: white;

    .title {
      font-size: 30px;
      margin-bottom: 0rem;
    }

    .content {
      font-size: 40px;
      margin-bottom: 0rem;
    }
  }

  .col-3:nth-child(1) .card {
    background-color: #4551b7;
  }
  .col-3:nth-child(2) .card {
    background: #f44336;
  }
  .col-3:nth-child(3) .card {
    background: #41d14f;
  }
  .col-3:nth-child(4) .card {
    background: #8d8d8d;
  }
}

.card-table .card {
  padding: 1rem 1.5rem;
  padding-bottom: 0rem;
  border-radius: 1rem;

  .card-header {
    background-color: white;
    border-bottom: 1px solid $border-gray;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .card-body {
    padding: 0rem;
    max-height: 15rem;
    overflow: scroll;

    table tr th {
      background: #335276;
      text-transform: none;
      border-top-width: 0rem;
    }

    thead tr:first-child th:first-child {
      border-top-left-radius: 6px;
    }
    thead tr:first-child th:last-child {
      border-top-right-radius: 6px;
    }

    th {
      position: sticky;
      top: 0; /* Don't forget this, required for the stickiness */
    }
  }

  small {
    font-size: 0.5rem;
  }

  .line-accurate {
    line-height: 0.5;
  }
}

.w-10 {
  width: 10%;
}

.card-button-container {
  button {
    border-radius: 2rem;
  }
}
